<form class="" action="/recipes/:id/edit" method="post">
  <p>name: <input type="text" name="name" value="<%= @recipe.name %>"></p>
  <p>ingredients: <input type="text" name="ingredients" value="<%= @recipe.ingredients %>"></p>
  <input type="hidden" name="_method" value="PATCH">
</form>
