<form class="" action="/recipes/<%= @recipe.id %>/edit" method="post">
  <p>name: <input type="text" name="name" value="<%= @recipe.name %>"></p>
  <p>ingredients: <input type="text" name="ingredients" value="<%= @recipe.ingredients %>"></p>
  <p>cook time: <input type="text" name="cook_time" value="<%= @recipe.cook_time %>"></p>
  <input type="hidden" name="_method" value="PATCH">
  <input type="submit" name="" value="submit">
</form>
